/* Use your own code or past solution for Great Idea Web Page CSS here! */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
.maxwidth{padding: 10px;
	/*
	width: 1000px;
    margin: 0 auto;*/
	}
	header{
		
		display: flex;
		justify-content: space-between;
	}
	header nav{
		width: 80%;
		display: flex;
		justify-content: space-evenly;
		height: 40px;
		vertical-align: middle;
		
	}
	header nav a{
	
	text-decoration: none;
	color: lightgrey;
	vertical-align: middle;
	padding-top: 10px;
	font-size: 1.1rem;
	}
	
	
	
	 .logo{
	

	
	
	}
	
	/*pic/button*/
	.main{
		padding: 4%;
		margin-top: 20px;
		display: flex;
		justify-content: space-between;
	}
	.main .left {
		
		/*width: 400px;*/
		padding: 40px;
		vertical-align: middle;
		width: 410px;
	}
	h1{
		font-size: 5rem;
		text-align: center;
	}
	.main .right{
		
		/*width: 410px;*/
        width: 410px;
	
	
	}
	.main .right img{
		
		padding: 40px;
		width: 410px;
	
	}
	.btn button{
		margin-left: 50px;
		padding: 10px 70px 10px 70px;
		background-color: white;
		border-color: black;
		font-size: 1.1rem;
        vertical-align: middle;
        
	}
	
	
	
	
	
	/*text area*/
	.toptext{
		border-top: black solid 2px;
		display: flex;
	}
	.toptext .left{
		
		width: 50%;
		padding: 40px;
		padding-left: 0;
	}
	.toptext .right{
		
		width: 50%;
		padding: 40px;
		padding-left: 0;
	}
	.middle-img{
		width: 100%;
	}
	.bottomtext{
		border-bottom: solid black 1px;
		padding-bottom: 30px;
		display: flex;
	}
	.bottomtext .left{
		
		width: 33%;
		padding: 20px;
		padding-left: 0;
	}
	.bottomtext .middle{
		
		width: 33%;
		padding: 20px;
		padding-left: 0;
	}
	.bottomtext .right{
		
		width: 33%;
		padding: 20px;	
		padding-left: 0;
	}
	footer{
		padding-top: 30px;
	}
	footer .spaceoutmiddle{
		padding: 10px 0 10px 0;
	}
	footer .spaceoutbottom{
		padding: 10px 0 10px 0;
	}
	.bottom{
		text-align: center;
		padding: 100px;
	}

	/******************************
	next page
	**************************/
	.services-header-img{
padding: 30px 0px 30px 0px;
width: 100%;
	}
	.first-text{
		padding: 30px 0px 20px 0px;	
		border-bottom: black solid 1px;
	}
	.first-text h3{
		font-size: 1.5rem;
	}
	.wrap{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding-bottom: 20px;
	}
	.itembox{
width: 48%;
padding: 20px;
margin-top: 30px;
margin-bottom: 10px;
background-color: rgb(244, 243, 244);
border: black solid 1px;
	}
	.itembox button{
		margin-top: 20px;
		width: 150px;
		height: 40px;
		background-color: white;
		border: black solid 1px;
		border-radius: 5px;
	}	


	.facts{
		display: flex;
		justify-content: space-between;
		padding-top: 50px;
		border-top: black solid 1px;

	}
	.last-text{
		width: 48%;	
	}
	.services-info-img{
		width: 48%;
	}
	.dots{
	display: flex;
	flex-direction: column;
	padding-top: 20px;
	}
	.dots .dtext{
display: flex;
padding: 10px 0 10px 0;

	}
	
	.dots .dtext p{
		padding-left: 20px;
	}	
	
	.dot {
		height: 7px;
		width: 7px;
		background-color: black;
		margin-top: 5px;

	  }
	  .bottom2{
		  text-align: center;
	
		  padding-top: 50px;
      }
      

@media (max-width:800px){
    .main .right{
        display: none;
    }
    header nav{

        order: 1;
    }
    header{
        
       
        flex-direction: column;
    }
    .main .left{
margin: 0 auto;
    }
    header nav{
        width: 100%;
    }
    .logo{
        width: 200px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding: 30px 0 30px 0;
    }
    .bottom{
        padding: 40px;
    }
    .facts{
        flex-direction: column-reverse;
        
        }
        .last-text{
            width: 100%;	 padding-top: 50px;
        }
        .services-info-img{
            width: 100%;
           
        }
}

@media (max-width:500px){

.logo{
    padding: 10px 0 10px 0;
}

header nav{
    flex-direction: column;
    height: 34vh;
    text-align: center;
    border-top: black solid 1px;
    padding-top:  20px;
}


header nav a{
    padding: 18px 0 18px 0;
    
    border-bottom: black solid 1px;
}
.toptext{
flex-direction: column;

}
.toptext .left{
  width: 100%;  
}
.toptext .right{
    width: 100%;
}
.bottomtext{
flex-direction: column;

}    
.bottomtext .left{width: 100%;}
.bottomtext .middle{width: 100%;}
.bottomtext .right{width: 100%;}


.itembox{
    width: 100%;
}
}